In [4]:
# Import Data Manipulation Libraries
import numpy as np 
import pandas as pd 

# Import Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')

# Import Logging Files
import logging
logging.basicConfig(level= logging.INFO,
                    filemode= 'w',
                    filename= 'model.log',
                    format= '%(asctime)s - %(name)s-%(levelname)s-%(message)s',force = True)

In [5]:
# Data Import Using Pandas Fucntion 

url = 'https://raw.githubusercontent.com/chandanc5525/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv'

df = pd.read_csv(url,sep = ';')

df.sample(frac = 1)  # Shuffle Dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
29048,49,blue-collar,married,primary,no,0,yes,no,cellular,2,feb,210,1,-1,0,unknown,no
37116,31,services,single,secondary,no,6737,yes,no,cellular,13,may,12,7,-1,0,unknown,no
4103,43,admin.,single,secondary,no,445,yes,no,unknown,19,may,546,2,-1,0,unknown,no
37760,51,blue-collar,single,secondary,no,708,yes,no,telephone,14,may,391,1,364,1,failure,no
31989,41,admin.,married,secondary,no,5110,yes,no,cellular,13,apr,231,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40155,25,management,single,tertiary,no,289,no,no,cellular,5,jun,604,1,-1,0,unknown,no
41061,64,retired,married,tertiary,no,846,no,no,cellular,14,aug,107,3,-1,0,unknown,no
36736,39,management,single,tertiary,no,202,yes,no,cellular,12,may,59,1,301,1,other,no
28281,37,services,married,secondary,no,1694,yes,yes,cellular,29,jan,404,2,251,6,failure,no
6767,26,technician,single,secondary,no,150,yes,no,unknown,28,may,216,1,-1,0,unknown,no

In [3]:
# Checking Data Shape and Data Information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [7]:
logging.info('Dataset Uploaded Successfully.')