In [1]:
# Import Data Manipulation Libraries
import numpy as np 
import pandas as pd 

# Import Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')

# Import Logging Files
import logging
logging.basicConfig(level= logging.INFO,
                    filemode= 'w',
                    filename= 'model.log',
                    format= '%(asctime)s - %(name)s-%(levelname)s-%(message)s',force = True)

# Import Stats Scipy Library
import scipy.stats as stats

In [2]:
# Data Import Using Pandas Fucntion 

url = 'https://raw.githubusercontent.com/chandanc5525/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv'

df = pd.read_csv(url,sep = ';')

df.sample(frac = 1)  # Shuffle Dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
42094,33,management,married,tertiary,no,3301,yes,no,cellular,2,nov,131,2,171,2,failure,no
39925,28,technician,single,tertiary,no,4987,no,no,cellular,2,jun,924,2,113,21,success,yes
34160,54,technician,married,secondary,no,0,no,no,telephone,30,apr,766,3,84,3,success,yes
19627,48,blue-collar,married,secondary,no,1791,no,no,cellular,7,aug,63,2,-1,0,unknown,no
26845,48,admin.,married,secondary,no,387,no,yes,telephone,20,nov,761,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36481,37,admin.,married,secondary,no,1415,yes,no,cellular,12,may,214,2,-1,0,unknown,no
21102,32,management,single,tertiary,no,1512,no,yes,cellular,14,aug,133,4,-1,0,unknown,no
42563,38,self-employed,married,secondary,no,854,yes,yes,cellular,28,dec,112,2,-1,0,unknown,no
43498,22,student,single,primary,no,3472,no,no,cellular,19,apr,529,1,181,4,success,yes
13262,57,blue-collar,married,secondary,no,75,no,no,cellular,8,jul,157,8,-1,0,unknown,no

In [3]:
# Checking Data Shape and Data Information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [4]:
logging.info('Dataset Uploaded Successfully.')

In [5]:
# Split the Dataset into Numerical_Data and Categorical_Data

Numerical_Data = df.select_dtypes(exclude = 'object')


Categorical_Data = df.select_dtypes(include = 'object')

In [6]:
# Checking Numerical_Data
Numerical_Data

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

In [7]:
# Checking Categorical_Data
Categorical_Data

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,management,married,tertiary,no,yes,no,unknown,may,unknown,no
1,technician,single,secondary,no,yes,no,unknown,may,unknown,no
2,entrepreneur,married,secondary,no,yes,yes,unknown,may,unknown,no
3,blue-collar,married,unknown,no,yes,no,unknown,may,unknown,no
4,unknown,single,unknown,no,no,no,unknown,may,unknown,no
...,...,...,...,...,...,...,...,...,...,...
45206,technician,married,tertiary,no,no,no,cellular,nov,unknown,yes
45207,retired,divorced,primary,no,no,no,cellular,nov,unknown,yes
45208,retired,married,secondary,no,no,no,cellular,nov,success,yes
45209,blue-collar,married,secondary,no,no,no,telephone,nov,unknown,no
45210,entrepreneur,married,secondary,no,no,no,cellular,nov,other,no

In [15]:
# Checking Descriptive Stats : Numerical_Data and Categorical_Data

from collections import OrderedDict

stats = []

for i in Numerical_Data:

    numerical_stats = OrderedDict({
        'Feature': i,
        'Maximum': Numerical_Data[i].max(),
        'Minimum': Numerical_Data[i].min(),
        'Mean': Numerical_Data[i].mean(),
        '25%': Numerical_Data[i].quantile(0.25),
        'Median': Numerical_Data[i].quantile(0.50),
        '75%': Numerical_Data[i].quantile(0.75),
        'Kurtosis': Numerical_Data[i].kurt(),
        'Skewness': Numerical_Data[i].skew(),
        'Standard Deviation': Numerical_Data[i].std()
    })

    stats.append(numerical_stats)

    report = pd.DataFrame(stats)


report

,Feature,Maximum,Minimum,Mean,25%,Median,75%,Kurtosis,Skewness,Standard Deviation
0,age,95,18,40.936210,33.0,39.0,48.0,0.319570,0.684818,10.618762
1,balance,102127,-8019,1362.272058,72.0,448.0,1428.0,140.751547,8.360308,3044.765829
2,day,31,1,15.806419,8.0,16.0,21.0,-1.059897,0.093079,8.322476
3,duration,4918,0,258.163080,103.0,180.0,319.0,18.153915,3.144318,257.527812
4,campaign,63,1,2.763841,1.0,2.0,3.0,39.249651,4.898650,3.098021
5,pdays,871,-1,40.197828,-1.0,-1.0,-1.0,6.935195,2.615715,100.128746
6,previous,275,0,0.580323,0.0,0.0,0.0,4506.860660,41.846454,2.303441

In [16]:
logging.info('The Above Dataset is Non Normal Distributed..')